html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration:none;
    color: #ffffff;
  }
button {
    border: none;
}
.container {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

/* Header */
header {
    height: 40px;
    margin-bottom: 25px;
    background-color: #FFEAA4;
}
header h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.85;
    font-family: "Times New Roman";
    font-size: 29px;
    line-height: 1.2;
    font-weight: 600;
}

/* Footer
footer {
    height: 70px;
    margin-bottom: 25px;
    background-color: #FFEAA4;
    text-align: center;
}
footer h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.85;
    font-family: "Times New Roman";
    font-size: 21px;
    line-height: 1.2;
    font-weight: 600;
} */