html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration:none;
    color: #000;
  }
button {
    border: none;
}
.container {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

/* Header */
header {
    height: 40px;
    width: 100%;
    margin-bottom: 25px;
    background-color: #FFEAA4;
    position: fixed;
}
header h1 a { 
    opacity: 0.85;
    font-family: "Times New Roman";
    font-size: 29px;
    line-height: 1.2;
    font-weight: 600;
}
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.autorization-button {
    background: #cfcfcf;
    background-repeat: 5px;
    border-radius: 10px;
    border: 2px solid rgb(141, 141, 141);
    width: 70px;
    padding: 3px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
}
.autorization-button:hover {
    background: #d4d4d4;
}

/* Autorization form */
.autorization-form {
    display: none;
    background-color: rgb(233, 233, 233);
    position: fixed;
    /* bottom: 0; */
    top: 20%;
    right: 38%;
    width: 350px;
    height: auto;
    border-radius: 10px;
}
.autorization-form-header {
    margin-top: 2px;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    text-align: center;
}
.form-container {
    max-width: 500px;
    margin-top: 15px;
}
input {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    color: #000;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 30px;
    border-radius: 10px;  
    border:none;
    outline: none;
}
label {
    display: block;
    margin-left: 32px;
    margin-bottom: 5px;
    color: #000;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}
input:focus {
    color: #000;
    border-radius: 10px;
  }
.autorization-btn {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 35px;
    border: none;
    cursor: pointer;
}
.close {
    background-color: rgb(233, 233, 233);
    position: absolute;
    right: 15px;
    top: 0px;
    width: 32px;
    height: 32px;
    opacity: 0.4;
}
.close:hover {
    background-color: rgb(233, 233, 233);
    opacity: 1;
    transition: 0.1s;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}