<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../media/static/css/base.css">
    {% block links %}{% endblock %}
</head>
<body>
    <header>
        <section class="container header-section">
            <h1><a href="{% url 'index' %}">HouseSale</a></h1>
            {% if request.user.is_authenticated %}
            <div class="profile-link"></div>
            {% else %}
            <button class="autorization-button">Войти</button>
            {% endif %}
        </section>
    </header>
    
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    <div class="autorization-form" title="Авторизация">
        <p class="autorization-form-header">Авторизация</p>
        <button class="close"></button>
        <form action="" method="post" class="form-container" name='autorization'>
            <label>Имя:</label>
            <input name="name" type="text">
            <label>Фамилия:</label>
            <input name="surname" type="text">
            <label>Номер телефона:</label>
            <input name="phone" type="text">
            <label>Почта:</label>
            <input name="email" type="email">
            <label>Пароль:</label>
            <input name="password" type="password">
            <label>Подтверждение пароля:</label>
            <input name="password-confirm" type="password">
            <button type="submit" class="autorization-btn">Войти</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Закрыть</button>
        </form>
    </div>
</body>
</html>
