{% extends "base.html" %}

{% block title %}Все объявления{% endblock %}

{% block links %}
<link rel="stylesheet" href="../media/static/css/index.css">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto+Slab:wght@300;400&display=swap" rel="stylesheet"> 
{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <section class="ad-list">
            {% for ad in all_ads_list %}  
                <div class="ad">
                    <a href="{% url 'ad_detail' ad.slug %}"><img src="{{ MEDIA_URL }}{{ ad.img.url }}" alt="" class="ad-image"></a>
                    <a href="{% url 'ad_detail' ad.slug %}"><h2 class="ad-title">{{ad.title | truncatechars:40}}</h2></a>
                    <p class="adres">{{ad.city}}, {{ad.street}}</p>
                    <p class="price">{{ad.price}}</p>
                </div>
            {% endfor %}
        </section>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../media/static/js/main.js"></script>
{% endblock %}